table {
    width: 100%;
}

.materials {
    width: 90%;
    margin: 10px auto;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

.fa-file-pdf {
    color: red;
}

.fa-file-word {
    color: blue;
}
