.lab-page {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.lab-camera {
    width: 40%;
}

.lab-control {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.lab-control-item {
    margin: 5px;
}

.start-button {
    background-color: #00c853;
    color: white;
}

.save-button {
    background-color: #536dfe;
    color: white;
}

.stop-button {
    background-color: #FF5252;
    color: white;
}

.result-box {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

.embed-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 65%;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}