.profile-page {
    max-width: 720px;
    padding-top: 20px;
    margin: 0 auto;
}

.profile-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
}

.title {
    display: flex;
    justify-content: center;
}

.save-button {
    background-color: #00c853;
    color: white;
}