@import '~compass-mixins/lib/compass/css3';
// https://codepen.io/katydecorah/pen/nKGxJd

.bunny {
    width: 5em;
    height: 3em;
    background: #f1cedc;
    border-radius: 70% 90% 60% 50%;
    position: relative;
    @include transform(rotate(0deg) translate(-2em, 0));
    animation: hop 1s infinite linear;
    z-index: 1;

    .no-flexbox & {
        margin: 10em auto 0;
    }

    //tail, eye, feet
    &:before {
        content: '';
        position: absolute;
        width: 1em;
        height: 1em;
        background: #f1cedc; // tail
        border-radius: 100%;
        top: 0.5em;
        left: -0.3em;
        box-shadow: 4em 0.4em 0 -0.35em #3f3334,
            // eye
            0.5em 1em 0 #f1cedc,
            // back foot
            4em 1em 0 -0.3em #f1cedc,
            // front foot
            4em 1em 0 -0.3em #f1cedc,
            4em 1em 0 -0.4em #f1cedc;
        animation: kick 1s infinite linear;
    }

    // ears
    &:after {
        content: '';
        position: absolute;
        width: 0.75em;
        height: 2em;
        background: #f1cedc;
        border-radius: 50% 100% 0 0;
        @include transform(rotate(-30deg));
        right: 1em;
        top: -1em;
        border-top: 1px solid #f1cedc;
        border-left: 1px solid #f1cedc;
        box-shadow: -0.5em 0em 0 -0.1em #f1cedc;
    }
}

@keyframes hop {
    20% {
        @include transform(rotate(-10deg) translate(1em, -2em));
    }

    40% {
        @include transform(rotate(10deg) translate(3em, -4em));
    }

    60%,
    75% {
        @include transform(rotate(0) translate(4em, 0));
    }
}

@keyframes kick {
    20%,
    50% {
        box-shadow: 4em 0.4em 0 -0.35em #f1cedc, 0.5em 1.5em 0 #f1cedc, 4em 1.75em 0 -0.3em #f1cedc, 4em 1.75em 0 -0.3em #f1cedc,
            4em 1.9em 0 -0.4em #f1cedc;
    }

    40% {
        box-shadow: 4em 0.4em 0 -0.35em #f1cedc, 0.5em 2em 0 #f1cedc, 4em 1.75em 0 -0.3em #f1cedc, 4.2em 1.75em 0 -0.2em #f1cedc,
            4.4em 1.9em 0 -0.2em #f1cedc;
    }
}
