<div class="lab-page">
    <div>
        <app-countdown *ngIf="lab" [endTime]="takenUntil"></app-countdown>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Camera</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-camera [cameraUrl]="cameraUrl"></app-camera>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>1. Control panel</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>Select sample material for heating.</div>
            <br />
            <mat-form-field appearance="fill">
                <mat-label>Select sample material</mat-label>
                <mat-select [(value)]="selectedSensor" [disabled]="measurementStarted">
                    <mat-option *ngFor="let sensor of sensors" [value]="sensor.value"> {{sensor.viewValue}} </mat-option>
                </mat-select>
            </mat-form-field>
            <app-start-stop-measurement-button (measurementStartedEvent)="getMeasurementStarted($event)"> </app-start-stop-measurement-button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>2. Monitor results</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>Results from temperature and resistance sensors are plotted below.</div>
            <app-resistance-plot
                [selectedSensor]="selectedSensor"
                [sensorUrl]="sensorUrl"
                [measurementStarted]="measurementStarted"
                (measurementDataEvent)="getData($event)"
                (stopEvent)="stopEvent()"
                (startEvent)="startEvent()"
            ></app-resistance-plot>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>3. Save results</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-save-measurement [labId]="lab?.id" [measurementResult]="measurementResult"> </app-save-measurement>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>4. Leave lab</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-free-lab-button [bookingId]="booking?.id"></app-free-lab-button>
        </mat-card-content>
    </mat-card>
</div>
