<div class='lab-page'>
    <mat-card class='lab-camera'>
        <mat-card-header>
            <mat-card-title>Camera</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-card>
    <mat-card class='lab-control'>
        <mat-card class='lab-control-item'>
            <mat-card-header>
                <mat-card-title>1. Introduction</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </mat-card-content>
        </mat-card>
        <mat-card class='lab-control-item'>
            <mat-card-header>
                <mat-card-title>2. Start measurement</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </mat-card-content>
        </mat-card>
        <mat-card class='lab-control-item'>
            <mat-card-header>
                <mat-card-title>3. Monitor results</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </mat-card-content>
        </mat-card>
        <mat-card class='lab-control-item'>
            <mat-card-header>
                <mat-card-title>4. Stop measurement</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card-content>
                    When you have finished measurements, then please free lab by pressing 'Stop' button.
                    <div><button mat-raised-button class='stop-button' (click)="freeLab()">Stop</button></div>
                </mat-card-content>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>