.lab-page {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.control-buttons {
    display: flex;
    flex-direction: column;

    button {
        margin: 10px;
    }
}
