table {
    width: 100%;
}

.bookings {
    width: 90%;
    margin: 10px auto;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

.booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    mat-form-field {
        width: 50%;
    }
}
