table {
    width: 100%;
}

.bookings {
    width: 90%;
    margin: 10px auto;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

.mat-paginator {
    background-color: transparent;
}

.booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    mat-form-field {
        width: 50%;
    }
}

button.taken-date {
    background: rgb(241, 125, 125);
    border-radius: 100%;
}

button.free-date {
    background: rgb(95, 216, 95);
    border-radius: 100%;
}
