<div class="lab-component">
  <mat-card class="lab-card" *ngFor="let lab of labs$ | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ lab.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ lab.image }}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ lab.description }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthenticated">
      <button class="continue-button" *ngIf="lab.userId == currentUserId" mat-raised-button (click)="continuelab(lab.id)">Continue</button>
      <button class="busy-button" *ngIf="lab.userId && lab.userId != currentUserId" mat-raised-button [disabled]="true">Busy</button>
      <button class="start-button" *ngIf="!lab.userId" mat-raised-button (click)="startlab(lab.id)">Start</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="!isAuthenticated">
      <button mat-raised-button [disabled]="true" href="/lab{{ lab.id }}">Login to use lab</button>
    </mat-card-actions>
  </mat-card>
</div>