<div class="lab-component">
  <mat-card class="lab-card" *ngFor="let lab of labs">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ lab.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ lab.image }}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ lab.description }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthenticated">
        <a mat-raised-button href="/lab{{ lab.id }}">Start</a>
    </mat-card-actions>
    <mat-card-actions *ngIf="!isAuthenticated">
      <a mat-raised-button [disabled]="true" href="/lab{{ lab.id }}">Login to start measurement</a>
  </mat-card-actions>
  </mat-card>
</div>